          <div class="col-md-3 border group">
            <div class="row ">
              <h3 class="white"><%= @group.name %></h3>
            </div>
              <%= link_to  image_tag(@group.image.url), group_path(@group), class: "center" %>
            <h4 class="white">limit:<%= @group.max_members %></h4>
            <% if current_user.admin? %>
              <div class="col-md-4 fullWidth">
                <%= link_to 'Delete', delete_modal_group_path(@group),  {:remote => true, :class =>"btn btn-primary fullWidth"}  %>
              </div>
            <% else %>
              <div class="col-md-4 fullWidth">
                <%= link_to "Left Group",memberdestroy_group_path(id: @group.id, user_id: current_user.id), class: "btn btn-primary fullWidth" %>
              </div>
            <% end %>
          </div>


